.center { margin: 30%; width: 800px; margin-top: 3%; border-color: black; border-radius: 15px; margin-block-end: 2cm; }
.text {margin-left: 30%; margin-right: 30%;  font-size: 15pt; font-family: sans-serif;}
.tab {margin-left: 35%; margin-right: 20%;  font-size: 15pt; font-family: sans-serif;}